/*!
 * Designed by Airraya Group web design (http://webdesign.airrayagroup.com/)
 * noise background from (http://www.noisetexturegenerator.com/)
 */
/* background-image: url('../img/body.png');*/
body { 
    background: #f6f6f6;
 }
body,button,input,select,textarea {
    font: 14px/1.5 tahoma,Microsoft YaHei,arial,"Hiragino Sans GB",\5b8b\4f53
}
.navbar-nav {
    float: right;
    margin: 0;
}
.navbar-default {
    background-color: #2B7AD4;
    border-color: #e7e7e7;
    font-family: 'Schoolbell', cursive;
    color: #0180EC !important;
    font-size: 30px;
    background-image: url('../img/bg.png');
    background-repeat: repeat;
    border: none;
}
.navbar-brand {
	color: #FFFFFF !important;
	font-size: 30px;
}
.navbar-nav>li>a {
    color: #FFFFFF !important;
    font-size: 25px;
}
header.intro-header {
	background-image: url('../img/bg.png');
	background-repeat: repeat;
	color: #FFFFFF;
	padding-bottom: 30px;
	padding-top: 20px;
    margin-bottom: 30px;
}
.well {
    background-image: url('../img/well.png');
    background-color: #f5f5f5;
    box-shadow: none;
    border: 1px solid #E7E7E7;
}
.input {
    background-image: url('../img/search.png');
}
form#cse-search-box {
    background-image: url('../img/search.png') !important;
}
a {
    color: #2582F2;
    text-decoration: none;
}
a:focus, a:hover {
    color: rgb(4, 80, 173);
    text-decoration: underline;
}
.heading {
    margin-right: 0px;
}
.btn-default.sciblog {
    background: transparent;
    height: 35px;
    width: 75px;
    float: right;
    color: #fff;
    border: 1px solid #fff;
}
.btn-default.sciblog:hover {
    color: #0089FF;
    background-color: #fff;
    border-color: #adadad;
}
.title-image {
    width: 50px;
}
.sciblog {

}
.pagination ul > li > a:hover {
    background-color: #2582F2;
	color: #fff;
}

.pagination ul > li > a, .pagination ul > li > span {
    display: inline;
    padding: 5px 12px;
    line-height: 35px;
    text-decoration: none;
    background-color: #ffffff;
    border-top: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
	border-left: 1px solid #dddddd;
	border-right: 1px solid #dddddd;
}
.pagination ul > li {
display: inline;
}
a h2{
    color: #08c;
    text-decoration: none;
}
.fa-calendar,.fa-folder-open,.fa-tags {
    color: #A84365;
}

.fa-double-angle-right {
    color: #F69
}

.comment {
    width: 100%;
}
.fa-border{
    border:solid .08em #CCD2D9
}
ul.posts {
    margin:0; 
    padding:0;
}
.posts li {
    margin:0; 
    padding:0; 
    list-style:none;
}
.comment-cnt {
    padding: 5px 0;
    margin: 0 auto;
    width: 100%;
}
.commentBtn {
    border-radius: 10px;
    border: 1px solid #d8d8d8;
    padding: 10px 36px;
    display: block;
    text-align: center;
}
.post-list{
    min-height: 100px;
    list-style-type: none;
}

.wait-post {
    padding: 20px;
    border: 1px solid #DDD;
    border-radius: 10px;
    margin: 10px 0;
}
.wait-post p {
    margin: 6px 0;
    font-size: 14px;
    color: rgba(15,15,15,0.8);
    line-height: 35px;
}
.wait-post img {
    padding: 4px 4px;
    border: 1px solid #a8a8a8;
    display: block;
    max-width: 100%;
    opacity: .9;
    margin: 0 auto;
}
.wait-post blockquote {
    padding: 5px 20px 5px 20px;
    background-color: #f5f2f0;
    padding:1em;
    margin: 2em;
    text-align: left;
    color: #8d8d8d;
    font-style: italic;
    border-radius: 10px;
    border-width: 0.3em;
    border-color: #e0dfcc;
    border-style: solid;
}

.wait-post blockquote p {
    color: #8d8d8d
}
.wait-post ul li {
    margin: 6px 0;
    font-size: 14px;
    color: rgba(15,15,15,0.8);
    line-height: 35px
}
.author{
    line-height: 28px;
    padding: 5px;
}
h5.title {
   font-size: 18px;
   font-weight: 500;
}
code {
    background: #fefbf3;
    color: #c7254e;
    border: 1px solid #d0d0d0;
    border-radius: 5px;
    line-height: inherit;
    vertical-align: baseline;
    margin: 0 5px;
    padding: 5px 5px;
}
hr {
    border: none;
    border-bottom: 1px solid #cfcfcf;
    margin-top: 20px;
    margin-bottom: 10px;
    height: 10px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
.alert-box {
    color: #555;
    border-radius: 10px;
    font-family: Tahoma,Geneva,Arial,sans-serif;
    font-size: 12px;
    padding: 10px 36px;
    margin: 10px;
}
.alert-box span {
    font-weight: bold;
    text-transform: uppercase;
    line-height: 35px;
}
.error {
    background: #ffecec url('../img/error.png') no-repeat 10px 50%;
    border: 1px solid #f5aca6;
}
.success {
    background: #e9ffd9 url('../img/success.png') no-repeat 10px 50%;
    border: 1px solid #a6ca8a;
}
.warning {
    background: #fff8c4 url('../img/warning.png') no-repeat 10px 50%;
    border: 1px solid #f2c779;
    font-weight: bold;
}
.notice {
    background: #e3f7fc url('../img/notice.png') no-repeat 10px 50%;
    border: 1px solid #8ed9f6;
}
a.toTop {
    width: 40px;
    height: 40px;
    display: block;
    font-size: 36px;
    color: #fff;
    text-align: center;
    border-radius: 3px 3px;
    background: rgba(0,0,0,0.8);
	z-index: 20;
}

a.toTop:hover {
    background: #08c
}

.toTop i {
    font-size: 24px;
    line-height: 40px;
    vertical-align: top
}

#ad{
    background-color:#f6f6f6;
    width:310px;
    height:330px;
    position:fixed;
    bottom:0;
    right:40px;
    margin-bottom:-270px;
    z-index:10000;
}

*html #ad { /* ie6 hack */
position: absolute;
margin-top: expression(0 - parseInt(this.offsetHeight / 2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px');
}


#ad .section{
    border:1px solid #808f81;
    border-bottom:none;
    padding:10px 25px 25px;
}

#ad .color{
    float:left;
    height:4px;
    width:25%;
    overflow:hidden;
}

#ad .color-1{ background-color:#d3b112;}
#ad .color-2{ background-color:#12b6d3;}
#ad .color-3{ background-color:#8fd317;}
#ad .color-4{ background-color:#ca57df;}
#ad .color-5{ background-color:#8ecbe7;}

#ad h6{
    height:38px;
    margin:5px 0 12px;
    cursor:pointer;
    line-height:38px;
}

#ad .arrow{
    background:url('../img/arrows.png') no-repeat;
    float:right;
    width:23px;
    height:18px;
    position:relative;
    top:10px;
}

#ad .arrow.down{ background-position:left top;}
#ad h6:hover .down{ background-position:left bottom;}
#ad .arrow.up{ background-position:right top;}
#ad h6:hover .up{ background-position:right bottom;}
#mc_embed_signup .button:hover {
    background-color: #1C5484;
}
#mc_embed_signup .button {
    clear: both;
    background-color: #337ab7;
    border: 0 none;
    border-radius: 4px;
    transition: all 0.23s ease-in-out 0s;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-weight: normal;
    height: 32px;
    line-height: 32px;
    margin: 0 5px 10px 0;
    padding: 0 22px;
    text-align: center;
    text-decoration: none;
    vertical-align: top;
    white-space: nowrap;
    width: auto;
}
#mc_embed_signup{
background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif;
}