<div class="post">

    <a href="{{ post.url | prepend: site.baseurl }}" class="post-title-link">
      <h5 class="title">{{post.title}}</h5>
    </a>

    <div class="author">
        <span class="post-meta"><i class="fa fa-calendar"></i>{{ post.date | date: " %Y 年 %m 月 %d 日" }}</span>
        <i class="fa fa-folder-open"></i>
        {{post.categories}}
    </div>
    
    <div class="post-body">
      {% if post.hero_low %}
      {% endif %}
      {{ post.description }}
    </div>
    <hr>

</div>