<!DOCTYPE html>
<html lang="en">
    {% include head.html %}
    <body>
        {% include header.html %}
   
        <div class="container">
            <div class="row">
                <div class="twitter-content span12">
                    <div id="page-head" class="page-header">
                        <h1>{{ page.title }}</h1>
                    </div>
                    <div id="main-content">
                        {{ content }}
                    </div>
                </div>
            </div>
            {% include footer.html %}
        </div>
        <div id="anchar-bar" class="span2 bs-docs-sidebar"></div>
        {% include elevator.html %}
    </body>
    
    <link type="text/css" rel="stylesheet" href="/assets/css/syntaxhighlighter.css"></link>
    <script type="text/javascript" src="/assets/js/shCore.js"></script>
    <script>
        $('#main-content').anchorific({
            navigation: '#anchar-bar', // position of navigation
            speed: 200, // speed of sliding back to top
            anchorClass: 'anchor', // class of anchor links
            anchorText: '#', // prepended or appended to anchor headings
            top: '.top', // back to top button or link class
            spy: true, // highlight active links as you scroll
            position: 'append' // position of anchor text
        });
        $('#anchar-bar ul').addClass("nav nav-list bs-docs-sidenav affix");
    </script>
</html>
