---
layout: default
isPost: true
comment: false
---


	<div class="violet-title">
		<h3 class="violet-title-item">{{ page.title }}</h3>
	</div>
	<div class="violet-post">
		<p class="main-article-meta"><time pubdate="{{ rpost.date | date_to_utc | date: '%Y-%m-%d' }}">{{ page.date | date_to_utc | date: "%Y-%m-%d" }}</time></p>
			{{ content }}
	</div>

	<nav class="pagination fn-clear" id="violet-paging">
		<div class="pagination-list">
			{% if page.previous %}
			<a class="prev" href="{{ page.previous.url }}" rel="bookmark"><i class="fa fa-chevron-circle-left"></i>{{ page.previous.title | truncatewords:5 }}</a>
			{% endif %}
			{% if page.next %}
			<a class="next" href="{{ page.next.url }}" rel="bookmark">{{ page.next.title | truncatewords:5 }}<i class="fa fa-chevron-circle-right"></i></a>
			{% endif %}
		</div>
	</nav>
	<div id="comment" class="comment">
	 {% if site.disqus.config %}
	    <a href="#" class="commentBtn" onclick="return false;">点击查看评论</a>
        <div class="comment-cnt">
            <div id="disqus_thread"></div>
        </div>
    {% else %}
        {% if site.duoshuo.config %}
			<a href="#" class="commentBtn" onclick="return false;"><span id="ccount"></span>条评论</a>
			<div class="comment-cnt">
				<div id="ds-thread" class="ds-thread" data-url="{{ page.url }}" data-title="{{ page.title }}" data-thread-key="{{ page.title }}"></div>
			</div>
	   {% endif %}	
    {% endif %}
   	</div>
	

