---
layout: default
isPost: true
comment: false
---


	<div class="violet-title">
		<h3 class="violet-title-item">{{ page.title }}</h3>
	</div>
	<div class="violet-post">
		<p class="main-article-meta"><time pubdate="{{ rpost.date | date_to_utc | date: '%Y-%m-%d' }}">{{ page.date | date_to_utc | date: "%Y-%m-%d" }}</time></p>
		<div class="main-article-contant article_content">
			{{ content }}
		</div>
	</div>

	<nav class="pagination fn-clear" id="violet-paging">
		<div class="pagination-list">
			{% if page.previous %}
			<a class="prev" href="{{ page.previous.url }}" rel="bookmark"><i class="fa fa-chevron-circle-left"></i>{{ page.previous.title | truncatewords:5 }}</a>
			{% endif %}
			{% if page.next %}
			<a class="next" href="{{ page.next.url }}" rel="bookmark">{{ page.next.title | truncatewords:5 }}<i class="fa fa-chevron-circle-right"></i></a>
			{% endif %}
		</div>
	</nav>
	<div class="comment">
	<div class="alert-box notice"><span>注意</span><br/>如果评论，请匿名评论。邮箱填“aa@126.com”之类的就妥了。表情神马的要手动上传图片= =!</div>
		{% if site.disqus.config %}
			<div class="comment-cnt">
				<div id="disqus_thread"></div>
			</div>
		{% endif %}
	</div>

