/**
 * @name:   violet 样式
 * @author: zhanxin.info@gmail.com
 * @create: 2013.10
 * @update: 2014.09
 * @desc:   这里是 violet 新的样式
 */
/* =Reset
--------------------------------------*/
html {
    color: #000;
    background: #fff;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    margin: 0;
    padding: 0
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    display: block
}

audio,canvas,video {
    display: inline-block;
}

body,button,input,select,textarea {
    font: 14px/1.5 tahoma,Microsoft YaHei,arial,"Hiragino Sans GB",\5b8b\4f53
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

th {
    text-align: inherit
}

fieldset,img {
    border: 0
}

iframe {
    display: block
}

abbr,acronym {
    border: 0;
    font-variant: normal
}

del {
    text-decoration: line-through
}

address,caption,cite,code,dfn,em,th,var {
    font-style: normal;
    font-weight: 500;
}

caption,th {
    text-align: left
}

h1,h2,h3,h4,h5,h6 {
    font-size: 100%;
    font-weight: 500;
}

h2 {
    font-size: 1.2em;
    line-height: 1.5;
}

q:before,q:after {
    content: ''
}

sub,sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sup {
    top: -0.5em
}

sub {
    bottom: -0.25em
}

ins,a {
    text-decoration: none
}

code,kbd,pre,samp {
    font-family: monospace,serif;
    font-size: 1em
}

a:link {
    color: #08c
}

a:hover {
    color: #08c;
    text-decoration: underline
}

a:visited {
    color: #08c
}

.fn-clear:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0
}

.fn-clear {
	zoom: 1;
}

.fn-hide {
    display: none
}

.fn-left,.fn-right {
    display: inline
}

.fn-left {
    float: left
}

.fn-right {
    float: right
}

.fn-text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.fn-webkit-adjust {
    -webkit-text-size-adjust: none
}

#viole,.page-wrapper {
    width: 100%;
    height: auto
}

#violet-head {
    width: 100%;
    height: 260px;
    background-color: #fff;
    background-image: url(../images/hdbg01.jpg);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat
}

#violet-header {
    width: 720px;
    height: 210px;
    margin: 0 auto
}

.logo,.logo a {
    padding: 50px 0 0 0;
    width: 500px;
    font-family: "Times New Roman","Hiragino Mincho Pro","Songti SC","SimSun",sans-serif;
    font-size: 52px;
    color: #fefefe;
    -webkit-transition: color .4s ease-in-out;
    -moz-transition: color .4s ease-in-out;
    -ms-transition: color .4s ease-in-out;
    -o-transition: color .4s ease-in-out;
    transition: color .4s ease-in-out
}

.logo a:hover {
    text-decoration: none;
    color: rgba(0,0,0,0.8)
}

.subtitle {
    line-height: 32px;
    font-size: 16px;
    color: rgba(255,255,255,0.4);
    font-family: Georgia,"Times New Roman","Hiragino Mincho Pro","Songti SC","SimSun",sans-serif;
    font-style: italic
}

#violet-nav {
    width: 100%;
    height: 48px;
    background: rgba(255,255,255,0.2);
    border-top: 1px solid rgba(255,255,255,0.2);
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.nav {
}
.nav-list {
    list-style: none;
    width: 50%;
    margin: 0 auto;
    line-height: 48px;
    height: 48px;
}
.nav-item {
    float: left;
    padding: 8px 15px 8px 0;
    line-height: 32px;
    vertical-align: middle;
}
.nav-item a {
    display: block;
    line-height: 32px;
    padding: 0 20px;
    border-radius: 3px 3px;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    font-size: 14px;
    -webkit-transition: background .4s ease-in-out;
    -moz-transition: background .4s ease-in-out;
    -ms-transition: background .4s ease-in-out;
    -o-transition: background .4s ease-in-out;
    transition: background .4s ease-in-out;
}
.nav-item a:hover,
.nav-item-active a {
    background: rgba(0,0,0,0.8);
    text-decoration: none;
}


#violet-main {
    width: 100%;
    height: auto
}

.main-article {
    width: 60%;
    margin:0 auto;
    height: auto;
    background: #f6f6f6;
	min-height: 500px
}

.main-article:nth-child(2n) {
    background: #fff
}

.violet-post {
    width: 100%;
    padding: 6px 0;
    margin: 0 auto
}

#violet-paging {
    width: 100%;
    height: auto;
    padding: 10px 0;
    background: #f6f6f6;
	margin-bottom: 10px;
}
.pagination-list {
    width: 100%;
    height: 32px;
    padding: 20px 0;
    margin: 0 auto;
    list-style: none;
}

.pagination ol ul {
    list-style: none
}

.pagination-list li {
    float: left;
    padding-right: 10px;
}
.pagination-list li a,
.pagination-list .prev,
.pagination-list .next {
    display: block;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    background: #0088cc;
    color: #fff;
    border-radius: 3px 3px;
    -webkit-transition: background .4s ease-in-out;
    -moz-transition: background .4s ease-in-out;
    -ms-transition: background .4s ease-in-out;
    -o-transition: background .4s ease-in-out;
    transition: background .4s ease-in-out;
}
.pagination-list .prev {
    width: auto;
    float: left;
    padding: 0 20px 0 0;
}
.pagination-list .next {
    width: auto;
    float: right;
    padding: 0 0 0 20px;
}
.pagination-list .prev i,
.pagination-list .next i {
    width: 20px;
    height: 20px;
    display: inline-block;
    margin: 0 5px;
    line-height: inherit;
}
.pagination-list .prev:hover,
.pagination-list .next:hover {
    text-decoration: none;
    background: rgba(0, 0, 0, 0.8);
}

.pagination-list .current a,
.pagination-list li a:hover {
    text-decoration: none;
    background: rgba(0, 0, 0, 0.8);
}

#violet-foot {
    width: 100%;
    height: 220px;
    border-top: 1px solid #1c1c22;
    background: #22272a
}

.footer {
    width: 720px;
    height: 160px;
    margin: 0 auto
}

.footer .logo {
    width: 200px;
    float: right;
    text-align: right
}

.copyright {
    width: 100%;
    height: 60px;
    background: #1c1c22
}

.copyright-cnt {
    width: 720px;
    padding: 16px 0;
    margin: 0 auto;
    line-height: 28px;
    height: 28px
}

.copyright-cnt .follow {
    display: block;
    float: left;
    width: 28px;
    height: 28px;
    margin-right: 5px;
    line-height: 28px;
    font-size: 18px;
    display: block;
    color: #fff;
    text-align: center;
    background: rgba(255,255,255,0.1);
    border-radius: 3px 3px;
    -webkit-transition: background .4s ease-in-out;
    -moz-transition: background .4s ease-in-out;
    -ms-transition: background .4s ease-in-out;
    -o-transition: background .4s ease-in-out;
    transition: background .4s ease-in-out
}

.copyright-cnt .follow:hover {
    background: #08c
}

.copyright-cnt .text {
    float: right;
    display: inline-block;
    line-height: 28px;
    color: #e5e5e5;
    font-weight: lighter
}

.copyright-cnt .text a {
    font-weight: normal;
    color: #fff;
    text-decoration: underline
}

.main-article-title,.main-article-title a {
    font-size: 24px;
    line-height: 24px;
    color: #000;
    text-decoration: none
}

.main-article-title a:hover {
    color: #08c
}

.main-article-meta {
    margin: 12px 0 12px 0;
    color: #a7aab1;
    font-size: 15px;
    line-height: 22px
}

.main-article-page {
    background: #fff
}

.main-article-page .main-article-meta {
    margin: 0 0 30px 0
}

.violet-post p {
    margin: 6px 0;
    font-size: 14px;
    color: rgba(15,15,15,0.8);
    line-height: 35px
}

.violet-post ul li {
    margin: 6px 0;
    font-size: 14px;
    color: rgba(15,15,15,0.8);
    line-height: 35px
}

.main-article-contant .code {
    background-color: #fefbf3;
    color: #c7254e;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: inset 0 1px 10px rgba(0,0,0,0.3),0 1px 0 rgba(255,255,255,0.1),0 -1px 0 rgba(0,0,0,0.5);
    box-shadow: inset 0 1px 10px rgba(0,0,0,0.3),0 1px 0 rgba(255,255,255,0.1),0 -1px 0 rgba(0,0,0,0.5)
}

.warning {
    font-weight: bold;
    border-color: red;
    border-style: dotted;
    padding: 2px
}

.main-article-more a {
    font-size: 16px;
    display: inline-block;
    padding: 4px 18px 4px 18px;
    border-radius: 3px 3px;
    text-align: center;
    background: #08c;
    color: #fff;
    -webkit-transition: background .4s ease-in-out;
    -moz-transition: background .4s ease-in-out;
    -ms-transition: background .4s ease-in-out;
    -o-transition: background .4s ease-in-out;
    transition: background .4s ease-in-out
}

.main-article-more a:hover {
    text-decoration: none;
    background: rgba(0,0,0,0.8)
}

.violet-title {
    padding: 30px 0;
    width: 100%;
    background: #f6f6f6
}

.violet-title .violet-title-item {
    width: 720px;
    font-size: 32px;
    margin: 0 auto
}

.main-article h2 {
    font-size: 28px;
}

.main-article h3 {
    font-size: 24px;
}

.main-article h4 {
    font-size: 20px;
}

.main-article h5 {
    font-size: 18px;
}

.main-article pre {
    margin: 30px 0 30px 0;
    padding: 13px 20px;
    background-color: #f4f4f6;
    clear: both;
    color: #22272a;
    overflow: auto;
    font: 12px/22px Consolas,"Courier New",Courier,monospace;
    -webkit-border-radius: 2px;
    border-radius: 2px
}

.main-article code {
    background: #fefbf3;
    color: #c7254e;
    border: 1px solid #d0d0d0;
    border-radius: 5px;
    line-height: inherit;
    vertical-align: baseline;
    margin:0 5px;
    padding: 5px 5px;
}

.main-article pre code {
    border: 0
}

.main-article ul {
    padding-left: 20px
}

.main-article ol {
    list-style-type: decimal-leading-zero
}

.main-article em {
    font-style: italic
}

.main-article strong {
    font-weight: bold
}

.main-article blockquote {
    padding: 5px 20px 5px 20px;
    margin: 20px 0 24px;
    border-left: 3px solid #08c;
    border-radius: 0 3px 3px 0;
    text-align: left;
    color: #8d8d8d;
    font-style: italic
}

.main-article blockquote p {
    color: #8d8d8d
}

.main-article img {
    margin: 20px 0 24px 0;
    background: #f0f0f0;
    padding: 4px 4px;
    border: 1px solid #a8a8a8;
    display: block;
    max-width: 100%;
    opacity: .9;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto
}

.main-article img:hover {
    opacity: 1
}

.main-article table {
    position: relative;
    width: 100%;
    margin-bottom: 1em;
    color: #4d4d4d
}

.main-article table th,.main-article table td {
    padding: 4px 0;
    border: 1px solid #6db0e6
}

.main-article table th {
    background: #6db0e6;
    color: #fff
}

.main-article table th,.main-article table td {
    text-indent: 6px
}

.main-article .article-year {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0
}

.main-article .article-year li {
    width: 198px;
    height: 198px;
    float: left;
    border: 1px solid #fff;
    padding: 10px 20px;
    list-style-type: none;
    background: #f6f6f6
}

.main-article .article-year li span {
    display: block;
    color: #6d6d6d;
    margin-bottom: 20px;
    width: 100%
}

.main-article .article-year li a {
    color: #000;
    display: block
}

.main-article .article-year li a:hover {
    text-decoration: underline;
    color: #08c
}

.comment {
    width: 100%;
    height: auto;
    background: #fff
}

.comment-cnt {
    padding: 5px 0;
    margin: 0 auto;
    width: 100%;
    height: auto
}

a.toTop {
    width: 40px;
    height: 40px;
    display: block;
    font-size: 36px;
    color: #fff;
    text-align: center;
    border-radius: 3px 3px;
    background: rgba(0,0,0,0.8)
}

a.toTop:hover {
    background: #08c
}

.toTop i {
    font-size: 24px;
    line-height: 40px;
    vertical-align: top
}

.fa-calendar,.fa-folder-open,.fa-tags {
    color: #A84365
}

.fa-double-angle-right {
    color: #F69
}

div.bottom {
    position: relative;
    margin-top: -60px;
    clear: both
}

.dispear {
    border-color: #F3F3F3
}

.post-date {
    color: #1077BC
}

ul.posts-list {
    list-style: none;
    position: relative
}

ul.posts-list li {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #D9D7D4;
    margin-top: 9px;
    padding-bottom: 5px;
    font-size: 14px
}

a.post-url {
    font-size: 16px;
    margin-left: 2px
}

span.post-right-info {
    right: 0;
    position: relative;
    font-size: 16px;
    color: #BBB
}

ul.time-list {
    margin-top: 10px
}

ul.time-list a {
    font-size: 14px;
    color: #F69
}

ul.time-list a>i.fa-chevron-right {
    color: #F3F3F3
}

ul.time-list>li.active>a>i.fa-chevron-right {
    color: #333
}

.nav>li>a:focus,.nav>li>a:hover {
    text-decoration: none;
    background-color: #eee
}

.nav li+.nav-header {
    margin-top: 9px
}

.nav-list>.active>a,.nav-list>.active>a:focus,.nav-list>.active>a:hover {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,.2);
    background-color: #08c
}
.nav-list [class*=" icon-"],.nav-list [class^=icon-] {
    margin-right: 2px
}

.nav-list .divider {
    height: 1px;
    margin: 9px 1px;
    overflow: hidden;
    background-color: #e5e5e5;
    border-bottom: 1px solid #fff
}

.nav-pills:after,.nav-pills:before,.nav-tabs:after,.nav-tabs:before {
    display: table;
    content: "";
    line-height: 0
}

.nav-pills:after,.nav-tabs:after {
    clear: both
}

.nav-pills>li,.nav-tabs>li {
    float: left
}

.nav-pills>li>a,.nav-tabs>li>a {
    padding-right: 12px;
    padding-left: 12px;
}

.nav-tabs {
    border-bottom: 1px solid #ddd;
}

.nav-tabs>li {
    margin-bottom: 15px
}

.nav-tabs>li>a {
    padding-top: 3px;
    padding-bottom: 3px;
    line-height: 20px;
    border: 1px solid transparent;
    -webkit-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0
}

.nav-tabs>li>a:focus,.nav-tabs>li>a:hover {
    border-color: #eee #eee #ddd
}

.nav-tabs>.active>a,.nav-tabs>.active>a:focus,.nav-tabs>.active>a:hover {
    color: #555;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
    cursor: default
}

.nav-tabs .dropdown-menu {
    -webkit-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px
}

.nav-pills .dropdown-menu {
    -webkit-border-radius: 6px;
    border-radius: 6px
}

.nav .dropdown-toggle .caret {
    border-top-color: #08c;
    border-bottom-color: #08c;
    margin-top: 6px
}

.nav .dropdown-toggle:focus .caret,.nav .dropdown-toggle:hover .caret {
    border-top-color: #005580;
    border-bottom-color: #005580
}

.nav-tabs .dropdown-toggle .caret {
    margin-top: 8px
}

.nav .active .dropdown-toggle .caret {
    border-top-color: #fff;
    border-bottom-color: #fff
}

.nav-tabs .active .dropdown-toggle .caret {
    border-top-color: #555;
    border-bottom-color: #555
}

.nav>.dropdown.active>a:focus,.nav>.dropdown.active>a:hover {
    cursor: pointer
}

.nav-pills .open .dropdown-toggle,.nav-tabs .open .dropdown-toggle,.nav>li.dropdown.open.active>a:focus,.nav>li.dropdown.open.active>a:hover {
    color: #fff;
    background-color: #999;
    border-color: #999
}

.nav li.dropdown.open .caret,.nav li.dropdown.open a:focus .caret,.nav li.dropdown.open a:hover .caret,.nav li.dropdown.open.active .caret {
    border-top-color: #fff;
    border-bottom-color: #fff;
    opacity: 1;
}

.tabs-stacked .open>a:focus,.tabs-stacked .open>a:hover {
    border-color: #999
}

.tabbable:after,.tabbable:before {
    display: table;
    content: "";
    line-height: 0
}

.tabbable:after {
    clear: both
}

.pill-content>.pill-pane,.tab-content>.tab-pane {
    display: none
}

.nav>.disabled>a {
    color: #999
}

.nav>.disabled>a:focus,.nav>.disabled>a:hover {
    text-decoration: none;
    background-color: transparent;
    cursor: default
}

ul#post_info.tag_box,ul#tag_info.tag_box {
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding-left: 0
}

ul#post_info.tag_box li {
    line-height: 28px;
    padding: 5px
}

ul#post_info.tag_box li i {
    opacity: .9
}

ul#post_info.tag_box.inline li {
    float: left
}

ul#post_info.tag_box a {
    text-decoration: none
}

ul#post_info.tag_box a span {
    vertical-align: super;
    font-size: .8em
}

div.navbar-header>div.col-md-8 {
    padding-left: 0
}

.tabs-below>.nav-tabs,.tabs-left>.nav-tabs,.tabs-right>.nav-tabs {
    border-bottom: 0;
    width:10%;
}
.tabs-right li {
    list-style: none;
}

.tab-content {
    overflow: auto
}

.pill-content>.active,.tab-content>.active {
    display: block
}

.tabs-below>.nav-tabs {
    border-top: 1px solid #ddd
}

.tabs-below>.nav-tabs>li {
    margin-top: -1px;
    margin-bottom: 0
}

.tabs-below>.nav-tabs>li>a {
    -webkit-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px
}

.tabs-below>.nav-tabs>li>a:focus,.tabs-below>.nav-tabs>li>a:hover {
    border-top-color: #ddd;
    border-bottom-color: transparent
}

.tabs-below>.nav-tabs>.active>a,.tabs-below>.nav-tabs>.active>a:focus,.tabs-below>.nav-tabs>.active>a:hover {
    border-color: transparent #ddd #ddd
}

.tabs-left>.nav-tabs>li,.tabs-right>.nav-tabs>li {
    float: none
}

.tabs-left>.nav-tabs>li>a,.tabs-right>.nav-tabs>li>a {
    width: 100%;
    margin-right: 0;
    margin-bottom: 3px
}

.tabs-left>.nav-tabs {
    float: left;
    margin-right: 19px;
    border-right: 1px solid #ddd
}

.tabs-left>.nav-tabs>li>a {
    margin-right: -1px;
    -webkit-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px
}

.tabs-left>.nav-tabs>li>a:focus,.tabs-left>.nav-tabs>li>a:hover {
    border-color: #eee #ddd #eee #eee
}

.tabs-left>.nav-tabs .active>a,.tabs-left>.nav-tabs .active>a:focus,.tabs-left>.nav-tabs .active>a:hover {
    border-color: #ddd transparent #ddd #ddd
}

.tabs-right>.nav-tabs {
    float: right;
    margin-left: 19px;
    border-left: 1px solid #ddd
}

.tabs-right>.nav-tabs>li>a {
    -webkit-border-radius: 0 4px 4px 0;
    border-radius: 8px;
    display: inline-block;
}

.tabs-right>.nav-tabs .active>a,.tabs-right>.nav-tabs .active>a:focus,.tabs-right>.nav-tabs .active>a:hover {
    border-color: #ddd
}

hr {
    border: none;
    border-bottom: 1px solid #cfcfcf;
    margin-top: 20px;
    margin-bottom: 10px;
    height: 10px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box
}

.alert-box {
    color: #555;
    border-radius: 10px;
    font-family: Tahoma,Geneva,Arial,sans-serif;
    font-size: 12px;
    padding: 10px 36px;
    margin: 10px;
}
.alert-box span {
    font-weight: bold;
    text-transform: uppercase;
	line-height: 35px;
}
.error {
    background: #ffecec url('/css/images/error.png') no-repeat 10px 50%;
    border: 1px solid #f5aca6;
}
.success {
    background: #e9ffd9 url('/css/images/success.png') no-repeat 10px 50%;
    border: 1px solid #a6ca8a;
}
.warning {
    background: #fff8c4 url('/css/images/warning.png') no-repeat 10px 50%;
    border: 1px solid #f2c779;
}
.notice {
    background: #e3f7fc url('/css/images/notice.png') no-repeat 10px 50%;
    border: 1px solid #8ed9f6;
}
#ad{
	background-color:#f6f6f6;
	width:310px;
	height:330px;
	position:fixed;
	bottom:0;
	right:40px;
	margin-bottom:-270px;
	z-index:10000;
}

*html #ad { /* ie6 hack */
position: absolute;
margin-top: expression(0 - parseInt(this.offsetHeight / 2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px');
}


#ad .section{
	border:1px solid #808f81;
	border-bottom:none;
	padding:10px 25px 25px;
}

#ad .color{
	float:left;
	height:4px;
	width:25%;
	overflow:hidden;
}

#ad .color-1{ background-color:#d3b112;}
#ad .color-2{ background-color:#12b6d3;}
#ad .color-3{ background-color:#8fd317;}
#ad .color-4{ background-color:#ca57df;}
#ad .color-5{ background-color:#8ecbe7;}

#ad h6{
	height:38px;
	margin:5px 0 12px;
	cursor:pointer;
	line-height:38px;
}

#ad .arrow{
	background:url('../images/arrows.png') no-repeat;
	float:right;
	width:23px;
	height:18px;
	position:relative;
	top:10px;
}

#ad .arrow.down{ background-position:left top;}
#ad h6:hover .down{ background-position:left bottom;}
#ad .arrow.up{ background-position:right top;}
#ad h6:hover .up{ background-position:right bottom;}


@media only screen and (min-width: 320px) and (max-width:767px) {
    #violet-header {
        width:100%;
        box-sizing: border-box;
        padding-left: 20px;
        padding-right: 20px
    }

    .logo,.logo a {
        width: 320px
    }
    .nav-list {
        list-style: none;
        width: 85%;
        margin: 0px auto;
        line-height: 48px;
        height: 48px;
    }

    .violet-nav-list {
        width: 60%;
        box-sizing: border-box;
        padding-left: 20px;
        padding-right: 20px;
        overflow: hidden;
	margin:0 auto;
    }

    .violet-title .violet-title-item {
        width: 100%;
        box-sizing: border-box;
        padding-left: 20px;
        padding-right: 20px
    }

    .violet-post {
        width: 100%;
        box-sizing: border-box;
        padding-left: 20px;
        padding-right: 20px
    }

    .pagination-list {
        width: 100%;
        box-sizing: border-box;
        padding-left: 20px;
        padding-right: 20px;
        height: auto
    }

    .pagination-list:after {
        visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
        height: 0
    }

    .comment-cnt {
        width: 100%;
        box-sizing: border-box;
        padding-left: 20px;
        padding-right: 20px
    }
    .main-article {
        width: 90%;
        margin:0 auto;
        height: auto;
        background: #f6f6f6
    }

    .main-article .article-year li span {
	width: 100%;
        font-size: 12px;
        margin-bottom: 10px;
	margin: 0 auto;
    }

    .main-article .article-year li {
        width: 100%;
        box-sizing: border-box;
        padding: 10px 10px;
        height: auto
    }

    .main-article img {
        max-width: 100%;
        height: auto
    }
    .main-article code {
        background: #fefbf3;
        color: #c7254e;
        border: 1px solid #d0d0d0;
        border-radius: 5px;
        line-height: inherit;
        vertical-align: baseline;
        margin:0 5px;
        padding: 0px;
    }

    .footer {
        width: 100%;
        box-sizing: border-box;
        padding-left: 20px;
        padding-right: 20px
    }

    .copyright-cnt {
        width: 100%;
        box-sizing: border-box;
        padding-left: 20px;
        padding-right: 20px;
        height: auto
    }

    .pull-right {
        float: left
    }
	
	 ul.posts-list li {
        border-bottom:1px solid #D9D7D4;
        margin-top: 15px;
        padding-bottom: 30px;
        font-size: 14px
    }

    .nav-pills>li>a,.nav-tabs>li>a {
        padding-right: 2px;
        padding-left: 2px;
        margin-right: 2px;
        line-height: 14px
    }
	
	#ad {
		display: none;
	}
}